@import "tailwindcss";

.not__found {
  background-image: url("/src/assets/images/not-found.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}
